In [23]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt

In [56]:
df = pd.read_csv('crop_r_season.csv')

In [60]:
df.head()

    N   P   K  temperature   humidity        ph    rainfall label   season
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice  monsoon
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice  monsoon
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice  monsoon
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice  monsoon
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice  monsoon

In [32]:
df.duplicated().sum()

0

In [33]:
df.isnull().sum()

N              0
P              0
K              0
temperature    0
humidity       0
ph             0
rainfall       0
label          0
season         0
dtype: int64

In [63]:
df['season'].unique()

array(['monsoon', 'summer', 'winter', 'spring', 'unseasonal'],
      dtype=object)

In [34]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [35]:
df['season']= le.fit_transform(df['season'])

In [36]:
df.head()

    N   P   K  temperature   humidity        ph    rainfall label  season
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice       0
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice       0
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice       0
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice       0
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice       0

In [37]:
df.shape

(2201, 9)

In [54]:
df['season'].unique()

array([0, 2, 4, 1, 3])

In [38]:
x = df.loc[:,df.columns!='label']

In [39]:
x

        N   P   K  temperature   humidity        ph    rainfall  season
0      90  42  43    20.879744  82.002744  6.502985  202.935536       0
1      85  58  41    21.770462  80.319644  7.038096  226.655537       0
2      60  55  44    23.004459  82.320763  7.840207  263.964248       0
3      74  35  40    26.491096  80.158363  6.980401  242.864034       0
4      78  42  42    20.130175  81.604873  7.628473  262.717340       0
...   ...  ..  ..          ...        ...       ...         ...     ...
2196   99  15  27    27.417112  56.636362  6.086922  127.924610       0
2197  118  33  30    24.131797  67.225123  6.362608  173.322839       0
2198  117  32  34    26.272418  52.127394  6.758793  127.175293       0
2199  104  18  30    23.603016  60.396475  6.779833  140.937041       0
2200  120  40  45    22.500000  75.000000  7.200000  195.000000       4

[2201 rows x 8 columns]

In [40]:
y = df.loc[:,df.columns=='label']

In [41]:
y

       label
0       rice
1       rice
2       rice
3       rice
4       rice
...      ...
2196  coffee
2197  coffee
2198  coffee
2199  coffee
2200   wheat

[2201 rows x 1 columns]

In [42]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state = 0)

In [43]:
x_train

        N    P    K  temperature   humidity        ph    rainfall  season
52     93   56   42    23.857240  82.225730  7.382763  195.094831       0
1493   99    6   46    28.614751  94.222530  6.396379   28.985742       2
923     9   16   39    18.411644  91.119272  6.101199  105.183498       1
360     7   63   24    22.954582  24.035531  5.858618  107.731539       2
1525   32  141  203    21.259411  92.844162  5.821348  109.065847       4
...   ...  ...  ...          ...        ...       ...         ...     ...
1033  102   71   48    28.654563  79.286937  5.695268  102.463378       3
1731   34   68   51    27.347349  94.177567  6.687088   40.351531       3
763    35   64   15    28.474423  63.536045  6.500145   69.527441       0
835    39   65   23    25.434598  69.126134  7.685959   41.026829       4
1653   14   22    9    17.249446  91.137728  6.543192  112.509052       4

[1540 rows x 8 columns]

In [44]:
x_test

        N    P    K  temperature   humidity        ph    rainfall  season
1446  106   20   51    29.730197  90.970157  6.342573   20.490356       2
289    22   60   85    18.839291  14.740719  7.811998   94.781896       4
724    20   60   25    27.325421  69.090478  6.726469   61.192509       0
1326   91   21   50    24.335282  81.440304  6.762030   48.321136       2
1588    0  145  205    21.225034  90.098778  5.520783  113.976046       4
...   ...  ...  ...          ...        ...       ...         ...     ...
980    10    5   42    20.241049  91.087068  6.887006  109.253773       1
1228   30  120  200    38.060995  82.247296  6.234904   65.701482       2
1615    9   11    8    24.859034  94.390005  6.559237  111.780373       4
1771   67   68   49    35.268248  92.382830  6.821775  149.848821       3
298    40   58   75    18.591908  14.779596  7.168096   89.609825       4

[661 rows x 8 columns]

In [45]:
y_train

            label
52           rice
1493    muskmelon
923   pomegranate
360   kidneybeans
1525        apple
...           ...
1033       banana
1731       papaya
763     blackgram
835        lentil
1653       orange

[1540 rows x 1 columns]

In [46]:
y_test

            label
1446    muskmelon
289      chickpea
724     blackgram
1326   watermelon
1588        apple
...           ...
980   pomegranate
1228       grapes
1615       orange
1771       papaya
298      chickpea

[661 rows x 1 columns]

In [47]:
    from sklearn.linear_model import LogisticRegression
    model = LogisticRegression()
    model.fit(x_train, y_train)

/Users/aynat/Developer/OIST/fertilizer_r_oriental/oist/lib/python3.11/site-packages/sklearn/utils/validation.py:1183: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/aynat/Developer/OIST/fertilizer_r_oriental/oist/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [48]:
y_pred= model.predict(x_test)

In [49]:
y_pred

array(['muskmelon', 'chickpea', 'blackgram', 'watermelon', 'apple',
       'maize', 'muskmelon', 'cotton', 'apple', 'muskmelon',
       'pomegranate', 'rice', 'coffee', 'papaya', 'coffee', 'chickpea',
       'pomegranate', 'maize', 'papaya', 'kidneybeans', 'blackgram',
       'mungbean', 'rice', 'mothbeans', 'watermelon', 'mothbeans',
       'pigeonpeas', 'apple', 'orange', 'pigeonpeas', 'pigeonpeas',
       'orange', 'cotton', 'muskmelon', 'mango', 'coconut', 'chickpea',
       'banana', 'chickpea', 'mungbean', 'apple', 'pomegranate',
       'chickpea', 'orange', 'chickpea', 'mothbeans', 'orange', 'lentil',
       'coconut', 'lentil', 'blackgram', 'apple', 'pigeonpeas', 'grapes',
       'lentil', 'coconut', 'coffee', 'pomegranate', 'banana', 'coffee',
       'mungbean', 'apple', 'chickpea', 'cotton', 'papaya', 'kidneybeans',
       'chickpea', 'kidneybeans', 'blackgram', 'coconut', 'mango',
       'orange', 'jute', 'pomegranate', 'coffee', 'chickpea', 'mothbeans',
       'banana', 'grapes', 'pigeonpeas', 'mothbeans', 'muskmelon',
       'blackgram', 'maize', 'orange', 'rice', 'watermelon', 'orange',
       'mungbean', 'kidneybeans', 'pigeonpeas', 'kidneybeans', 'grapes',
       'cotton', 'orange', 'blackgram', 'muskmelon', 'blackgram',
       'cotton', 'papaya', 'coconut', 'banana', 'kidneybeans',
       'pigeonpeas', 'watermelon', 'pigeonpeas', 'kidneybeans', 'coconut',
       'coconut', 'orange', 'rice', 'mungbean', 'pomegranate', 'chickpea',
       'maize', 'kidneybeans', 'pomegranate', 'kidneybeans', 'mungbean',
       'blackgram', 'orange', 'coffee', 'orange', 'grapes', 'rice',
       'mothbeans', 'jute', 'cotton', 'coconut', 'grapes', 'papaya',
       'jute', 'mothbeans', 'mango', 'watermelon', 'pomegranate',
       'pomegranate', 'mango', 'orange', 'maize', 'blackgram',
       'blackgram', 'muskmelon', 'pigeonpeas', 'mungbean', 'blackgram',
       'papaya', 'pigeonpeas', 'mango', 'mothbeans', 'mungbean',
       'coconut', 'banana', 'watermelon', 'kidneybeans', 'chickpea',
       'papaya', 'watermelon', 'watermelon', 'mungbean', 'mungbean',
       'apple', 'lentil', 'lentil', 'blackgram', 'apple', 'grapes',
       'lentil', 'rice', 'maize', 'grapes', 'mango', 'pigeonpeas',
       'kidneybeans', 'blackgram', 'papaya', 'blackgram', 'grapes',
       'banana', 'watermelon', 'coconut', 'muskmelon', 'rice', 'lentil',
       'grapes', 'banana', 'papaya', 'orange', 'muskmelon', 'pigeonpeas',
       'rice', 'apple', 'maize', 'grapes', 'kidneybeans', 'rice', 'maize',
       'maize', 'cotton', 'coconut', 'mothbeans', 'mango', 'kidneybeans',
       'coconut', 'jute', 'maize', 'coffee', 'mothbeans', 'kidneybeans',
       'pomegranate', 'maize', 'watermelon', 'banana', 'watermelon',
       'apple', 'apple', 'jute', 'banana', 'grapes', 'mango', 'mungbean',
       'papaya', 'lentil', 'jute', 'rice', 'orange', 'pomegranate',
       'watermelon', 'papaya', 'maize', 'mango', 'orange', 'rice',
       'pomegranate', 'apple', 'jute', 'lentil', 'grapes', 'jute',
       'cotton', 'papaya', 'chickpea', 'rice', 'chickpea', 'blackgram',
       'blackgram', 'cotton', 'pomegranate', 'rice', 'mango', 'grapes',
       'banana', 'mungbean', 'maize', 'blackgram', 'mothbeans', 'grapes',
       'grapes', 'pomegranate', 'coconut', 'pigeonpeas', 'papaya',
       'muskmelon', 'coconut', 'mothbeans', 'rice', 'mothbeans',
       'coconut', 'coffee', 'coffee', 'lentil', 'coffee', 'pigeonpeas',
       'coconut', 'lentil', 'maize', 'rice', 'chickpea', 'pigeonpeas',
       'cotton', 'mango', 'muskmelon', 'coconut', 'mango', 'blackgram',
       'papaya', 'watermelon', 'mungbean', 'grapes', 'apple', 'jute',
       'cotton', 'jute', 'rice', 'cotton', 'blackgram', 'mothbeans',
       'pomegranate', 'papaya', 'grapes', 'muskmelon', 'watermelon',
       'rice', 'chickpea', 'blackgram', 'blackgram', 'watermelon', 'jute',
       'watermelon', 'watermelon', 'pomegranate', 'muskmelon',
       'pomegranate', 'jute', 'pigeonpeas', 'chickpea', 'banana',
       'coffee', 'pomegranate', 'grapes', 'apple', 'jute', 'orange',
       'muskmelon', 'chickpea', 'lentil', 'blackgram', 'mothbeans',
       'mango', 'kidneybeans', 'jute', 'papaya', 'jute', 'watermelon',
       'coconut', 'pigeonpeas', 'blackgram', 'jute', 'chickpea',
       'watermelon', 'lentil', 'mungbean', 'jute', 'kidneybeans', 'mango',
       'mango', 'pigeonpeas', 'coffee', 'rice', 'orange', 'cotton',
       'lentil', 'mothbeans', 'papaya', 'mothbeans', 'kidneybeans',
       'watermelon', 'banana', 'mango', 'cotton', 'papaya', 'jute',
       'kidneybeans', 'grapes', 'kidneybeans', 'watermelon', 'jute',
       'cotton', 'coffee', 'orange', 'papaya', 'pigeonpeas', 'jute',
       'orange', 'pomegranate', 'muskmelon', 'coffee', 'apple', 'cotton',
       'maize', 'watermelon', 'banana', 'coffee', 'apple', 'rice',
       'kidneybeans', 'mothbeans', 'jute', 'mango', 'chickpea', 'coffee',
       'mango', 'chickpea', 'mothbeans', 'pomegranate', 'mungbean',
       'mungbean', 'mungbean', 'blackgram', 'watermelon', 'pigeonpeas',
       'mothbeans', 'coconut', 'chickpea', 'grapes', 'jute', 'chickpea',
       'mango', 'muskmelon', 'banana', 'cotton', 'papaya', 'jute',
       'coconut', 'coffee', 'rice', 'papaya', 'mango', 'rice', 'apple',
       'maize', 'banana', 'watermelon', 'rice', 'cotton', 'grapes',
       'pigeonpeas', 'blackgram', 'chickpea', 'blackgram', 'banana',
       'mothbeans', 'maize', 'papaya', 'grapes', 'banana', 'mungbean',
       'papaya', 'blackgram', 'pomegranate', 'coffee', 'pigeonpeas',
       'cotton', 'orange', 'coconut', 'mango', 'chickpea', 'apple',
       'pomegranate', 'banana', 'kidneybeans', 'banana', 'maize',
       'orange', 'maize', 'pigeonpeas', 'orange', 'pomegranate',
       'mungbean', 'papaya', 'banana', 'apple', 'pigeonpeas',
       'pigeonpeas', 'muskmelon', 'mothbeans', 'mungbean', 'apple',
       'mothbeans', 'apple', 'mungbean', 'papaya', 'mungbean', 'banana',
       'watermelon', 'orange', 'grapes', 'orange', 'jute', 'maize',
       'lentil', 'watermelon', 'grapes', 'chickpea', 'chickpea', 'grapes',
       'kidneybeans', 'banana', 'apple', 'pomegranate', 'jute',
       'pigeonpeas', 'blackgram', 'grapes', 'banana', 'coconut',
       'muskmelon', 'rice', 'coffee', 'watermelon', 'coffee', 'cotton',
       'chickpea', 'orange', 'blackgram', 'coconut', 'mango', 'lentil',
       'kidneybeans', 'cotton', 'pigeonpeas', 'watermelon', 'blackgram',
       'papaya', 'apple', 'maize', 'rice', 'jute', 'kidneybeans',
       'watermelon', 'mungbean', 'papaya', 'papaya', 'mungbean', 'coffee',
       'pigeonpeas', 'muskmelon', 'apple', 'cotton', 'lentil', 'rice',
       'mungbean', 'cotton', 'pomegranate', 'chickpea', 'apple',
       'pomegranate', 'mothbeans', 'rice', 'jute', 'banana',
       'pomegranate', 'watermelon', 'banana', 'coffee', 'jute', 'jute',
       'banana', 'blackgram', 'mungbean', 'blackgram', 'cotton', 'papaya',
       'mango', 'chickpea', 'banana', 'chickpea', 'coconut', 'papaya',
       'cotton', 'muskmelon', 'papaya', 'muskmelon', 'mothbeans', 'apple',
       'lentil', 'blackgram', 'maize', 'pigeonpeas', 'coconut', 'coconut',
       'pomegranate', 'papaya', 'pomegranate', 'rice', 'cotton', 'grapes',
       'mothbeans', 'cotton', 'mothbeans', 'kidneybeans', 'mango',
       'papaya', 'coffee', 'papaya', 'banana', 'muskmelon', 'chickpea',
       'pomegranate', 'kidneybeans', 'mothbeans', 'grapes', 'mango',
       'muskmelon', 'rice', 'papaya', 'coconut', 'watermelon', 'cotton',
       'jute', 'rice', 'rice', 'coconut', 'mothbeans', 'cotton', 'coffee',
       'jute', 'apple', 'coffee', 'mungbean', 'apple', 'pomegranate',
       'chickpea', 'muskmelon', 'maize', 'pomegranate', 'orange',
       'muskmelon', 'rice', 'coffee', 'mungbean', 'papaya', 'rice',
       'cotton', 'mothbeans', 'banana', 'rice', 'watermelon', 'apple',
       'jute', 'mango', 'mango', 'maize', 'mango', 'mungbean', 'papaya',
       'rice', 'coffee', 'cotton', 'lentil', 'cotton', 'kidneybeans',
       'coffee', 'coffee', 'cotton', 'jute', 'coconut', 'mango', 'lentil',
       'mungbean', 'maize', 'papaya', 'chickpea', 'pomegranate',
       'muskmelon', 'lentil', 'pomegranate', 'grapes', 'orange', 'papaya',
       'chickpea'], dtype=object)

In [50]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy}')

Accuracy: 0.9682299546142209

In [51]:
import pickle
filename = 'crop_seasons.pkl'
pickle.dump(model,open(filename,'wb'))